@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #273272;
  --secondary-color: #1f2560;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Loading and Not Found page specific styles */
.loadingContainer,
.notFoundContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.loading{
    width: 50%;
    position: fixed;
    left: 45%;
    top: 50%;
  }