.main_container{
    width: 99.3%;
    height: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 5px ;
    border: 2px dashed #8d3d46;
}
.header{
    width: 100%;
    height: 100px;
    max-width: 1320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 0;
}
.header_subcontainer{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.flight_barcode{
    width: 200px;
    height: 130px;
    position: relative;
    overflow: hidden;
}
.flight_barcode img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}
.company_information{
    width: 100%;
    height: 20.8px;
    text-align: center;
    margin: 0 0 8px;
    color: #8d3d46;
    font-size: 14px;
    font-weight: bold;
}
.contract{
    width: 195px;
    height: 39px;
    margin: 0 auto;
    border: 2px solid #8d3d46;
    text-align: center;
    color: #8d3d46;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 18px;
    box-sizing: border-box;
    font-weight: bold;
    cursor: pointer;
}
.container2{
    margin-top: 50px;
    width: 95%;
    min-height: 200px;
    max-width: 1320px;
}
.date{
    width: 100%;
    height: 20.8px;
    text-align: right;
    margin: 0 0 35px;
    color: #8d3d46;
    font-size: 14px;
    font-weight: bold;
}
.paragaraph1{
    width: 100%;
    min-height: 20.8px;
    margin: 0 0 8px;
    color: #000000;
    font-size: 15px;
    font-family: "Cairo", sans-serif;
}
.bold{
    color: #8d3d46;
}
.paragaraph2{
    width: 100%;
    min-height: 29px;
    margin: 0 0 8px;
    color: #000000;
    font-size: 20px;
    font-family: "Cairo", sans-serif;
    font-weight: bold;
}
.bold2{
    color: #8d3d46;
}
.paragaraph12{
    width: 100%;
    min-height: 20.8px;
    margin: 0 0 70px;
    color: #000000;
    font-size: 15px;
    font-family: "Cairo", sans-serif;
}
.signature{
    width: 180px;
    height: 150px;
    position: relative;
    overflow: hidden;
    right: 0;
    margin: 10px 0;
}
.signature img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}
.company_information1{
    width: 100%;
    height: 20.8px;
    text-align: center;
    margin: 0 0 8px;
    color: #8d3d46;
    font-size: 12px;
    font-weight: bold;
}
.company_information2{
    width: 100%;
    height: 20.8px;
    text-align: center;
    margin: 0 0 8px;
    font-size: 12px;
    font-weight: bold;
}
.header1{
    width: 100%;
    height: 29px;
    max-width: 1320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 0;
}
.company_information3{
    width: 100%;
    height: 20.8px;
    text-align: center;
    margin: 0 0 8px;
    color: #8d3d46;
    font-size: 16px;
    font-weight: bold;
}
  .tableCustom {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tableCustom th,
.tableCustom td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.thab {
  font-weight: bold;
  background-color: #f2f2f2;
}
  .tableStriped tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .print{
    width: 73px;
    height: 35px;
    border-radius :5px ;
    border: 0;
    background-color: #464dee;
    position: fixed;
    bottom: 20px;
    left: 45%;
    color: white;
  }
  .tableRow{
    height: 35px;
  }